* {
  box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 400;
  src: url(../font/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  src: url(../font/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 700;
  src: url(../font/IBMPlexSans-Bold.ttf);
}

body {
  font-family: 'IBMPlexSans', sans-serif;
  font-weight: 400;
}

.header_inner {
  margin: 0 auto;
  max-width: 1360px;
}

.inner {
  margin: 0 auto;
  max-width: 1110px;
}

/* MV */
.sec-mv {
  padding-top: 36px;
  padding-bottom: 156px;
  background-image: url(../img/img_bg_mv.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header */

header .logo a {
  display: inline-block;
}

.logo{
  float: left;
}

header .logo img{
  width: 208px;
}

header nav {
  float: right;
  width: 61%;
  padding-top: 21px;
}

header nav ul {
  float: left;
}

header nav a.cmn-btn {
  float: right;
  margin-top: -11px;
}

header nav li {
  float: left;
  margin-right: 59px;
  font-size: 16px;
  font-weight: 700;
}

header nav li:first-child {
  margin-left: 19px;
}

header nav li:last-child {
  margin-right: -15px;
}

header nav li a {
  color: #141414;
  transition: .6s;
}

header nav li a:hover {
  opacity: .7;
}

header nav li .cmn-btn {
  padding: 6px 25px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Button */
.cmn-btn {
  width: 120px;
  padding: 7px 28px;
  border: 1px solid transparent;
  background-color: #FF8364;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: .6s;
  border-radius: 8px;
}

.cmn-btn:hover {
  border: 1px solid #FF8364;
  background-color: #fff;
  color: #FF8364;
}

/* Common Title */
.cmn-title {
  font-size: 40px;
  font-weight: 700;
}

/* Banner */

.banner {
  text-align: center;
}

.banner img {
  margin-top: 105px;
  margin-bottom: 34px;

}

.banner h2 {
  width: 654px;
  line-height: 1.2;
  margin: 0 auto;
  margin-bottom: 7px;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.banner p {
  width: 600px;
  line-height: 1.44;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 20px;
  color: #EFEFEF;
  font-size: 20px;
}

.banner .cmn-btn {
  display: block;
  width: 140px;
  margin: 0 auto;
  padding: 9px 41px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header_inner {
    width: 89.583vw;
    margin: 0 auto;
  }

  .inner {
    margin: 0 auto;
    max-width: 89.583vw;
  }

  /* Menu Trigger */
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    transition: all .4s;
  }

  .menu-trigger {
    display: block;
    position: fixed;
    top: 4.302vw;
    right: 4.6vw;
    z-index: 1;
    width: 6.51vw;
    height: 5.729vw;
    transform: scale(0.8);

  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.521vw;
    background-color: #000;
    border-radius: 0.521vw;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 2.604vw;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(20px) rotate(-45deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-20px) rotate(45deg);
  }

  /* MV */
  .sec-mv {
    padding-top: 4.688vw;
    padding-bottom: 15.443vw;
  }

  /* Header */

  header {
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  header .logo{
    left: 0;
    float: left;
   
  }

  header .logo img{
     width: 27.083vw;
  }

  header nav {
    display: none;
    position: fixed;
    top: -7.552vw;
    right: 0;
    left: 0;
    float: none;
    width: 100%;
    padding: 16.536vw 0 5.599vw;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
  }

  header nav ul {
    float: none;
    margin-bottom: 2.474vw;
  }

  header nav a.cmn-btn {
    float: none;
    width: 15.625vw;
  }

  header nav li:first-child {
    margin-left: -0.391vw;
  }

  header nav li {
    float: left;
    width: 100%;
    margin-right: 7.682vw;
    padding: 1.693vw;
    padding-bottom: 16px;
    margin-left: -0.391vw;
    font-size: 2.083vw;
    font-weight: 700;
    text-align: center;
  }

  header nav .cmn-btn {
    padding: 0.911vw 3.646vw;
    font-size: 1.823vw;
    border-radius: 0.521vw;
    margin-left: -0.911vw;
    width: 15.625vw;
    text-transform: uppercase;
  }

  /* Button */
  .cmn-btn {
    width: 15.625vw;
    padding: 0.911vw 3.646vw;
    border: 0.13vw solid transparent;
    font-size: 2.344vw;
    border-radius: 1.042vw;
  }

  .cmn-btn:hover {
    border: 0.13vw solid #FF8364;
  }

  /* Common Title */
  .cmn-title {
    font-size: 5.208vw;
    font-weight: 700;
  }

  /* Banner */

  .banner img {
    margin-top: 21.672vw;
    margin-bottom: 4.557vw;

  }

  .banner h2 {
    width: 85.156vw;
    line-height: 1.2;
    margin: 0 auto;
    margin-bottom: 0.911vw;
    font-size: 8.333vw;
  }

  .banner p {
    width: 78.125vw;
    line-height: 1.44;
    margin: 0 auto;
    margin-bottom: 3.906vw;
    padding: 0 2.604vw;
    font-size: 2.604vw;
  }

  .banner .cmn-btn {
    display: block;
    width: 18.229vw;
    margin: 0 auto;
    padding: 1.172vw 5.339vw;
  }

}

@media screen and (max-width: 767.9px) {
  .header_inner {
    padding: 0 4.688vw;
  }

  .inner {
    padding: 0 4.688vw;
  }

  /* Menu Trigger */
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    transition: all .4s;
  }

  .menu-trigger {
    display: block;
    position: fixed;
    top: 5.319vw;
    right: 3.52vw;
    z-index: 1;
    width: 7.812vw;
    height: 6.875vw;
    transform: scale(0.8);
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.625vw;
    background-color: #000;
    border-radius: 0.625vw;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 3.125vw;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(3.604vw) rotate(-45deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-2.604vw) rotate(45deg);
  }

  /* MV */
  .sec-mv {
    padding-top: 5.626vw;
    padding-bottom: 14.157vw;
  }

  /* Header */

  header {
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  header .logo{
    left: 0;
    float: left;
   
  }

  header .logo img{
    width: 32.5vw;
  }

  header nav {
    display: none;
    position: fixed;
    top: -9.062vw;
    right: 0;
    left: 0;
    float: none;
    width: 100%;
    padding: 19.843vw 0 6.719vw;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
  }

  header nav ul {
    float: none;
    margin-bottom: 2.969vw;
  }

  header nav a.cmn-btn {
    float: none;
    width: 18.75vw;
  }

  header nav li:first-child {
    margin-left: 0;
    padding-top: 14px;
  }

  header nav li {
    float: left;
    width: 100%;
    margin-right: 9.218vw;
    padding: 2.344vw;
    padding-bottom: 13.331px;
    margin-left: 0.156vw;
    font-size: 2.5vw;
    font-weight: 700;
    text-align: center;
  }

  header nav li:last-child {
    padding-bottom: 17px;
  }

  header nav .cmn-btn {
    padding: 1.093vw 4.375vw;
    font-size: 2.188vw;
    border-radius: 0.625vw;
    margin-left: -0.093vw;
    width: 18.75vw;
    text-transform: uppercase;
  }

  /* Button */
  .cmn-btn {
    width: 18.75vw;
    padding: 1.093vw 4.375vw;
    border: 0.156vw solid transparent;
    font-size: 2.813vw;
    border-radius: 1.25vw;
  }

  /* Common Title */
  .cmn-title {
    font-size: 6.25vw;
    font-weight: 700;
  }

  /* Banner */

  .banner img {
    margin-top: 22.725vw;
    margin-bottom: 3.281vw;

  }

  .banner h2 {
    width: 100%;
    line-height: 1.25;
    margin: 0 auto;
    margin-bottom: 3.281vw;
    font-size: 7.031vw;
  }

  .banner p {
    width: 90.625vw;
    line-height: 1.6;
    margin-bottom: 2.812vw;
    padding: 0;
    font-size: 2.813vw;
  }

  .banner .cmn-btn {
    display: block;
    width: 21.875vw;
    margin: 0 auto;
    padding: 1.406vw 6.407vw;
  }

}

/* Second Link */
.sec-second-link {
  padding-top: 114px;
  padding-bottom: 100px;
  background-color: #F3F3F3;
}

.sec-second-link .left-blk {
  float: left;
  width: 58%;
}

.sec-second-link .right-blk {
  float: right;
}

.sec-second-link .left-blk h3 {
  margin-bottom: 33px;
}

.sec-second-link .left-blk p {
  line-height: 1.4;
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: 400;
}

.sec-second-link .left-blk a {
  position: relative;
  color: #FF8364;
  font-size: 17px;
  font-weight: 700;
}

.sec-second-link .left-blk a::after {
  position: absolute;
  top: 50%;
  width: 13px;
  height: 13px;
  background-image: url(../img/img_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  transform: translateY(-50%) translateX(15px);
}

.sec-second-link .left-blk a:hover {
  opacity: .7;
}


.sec-second-link .right-blk img {
  width: 418px;
  height: 258px;
  margin-top: 27px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {

  /* Second Link */
  .sec-second-link {
    padding-top: 10.844vw;
    padding-bottom: 11.021vw;
  }

  .sec-second-link .left-blk {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .sec-second-link .right-blk {
    float: none;
  }

  .sec-second-link .left-blk h3 {
    margin-bottom: 4.297vw;
  }

  .sec-second-link .left-blk p {
    margin-bottom: 3.9vw;
    font-size: 4.688vw;
    max-width: 82.682vw;
  }

  .sec-second-link .left-blk a {
    position: relative;
    font-size: 2.214vw;
  }

  .sec-second-link .left-blk a::after {
    position: absolute;
    top: 50%;
    width: 1.693vw;
    height: 1.693vw;
  }

  .sec-second-link .right-blk img {
    display: block;
    width: 72.396vw;
    height: 44.49vw;
    margin: 0 auto;
    margin-top: 9.115vw;
    border-radius: 29px;
  }
}

@media screen and (max-width: 767.9px) {

  /* Second Link */
  .sec-second-link {
    padding-top: 6.45vw;
    padding-bottom: 9.475vw;
  }

  .sec-second-link .left-blk {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .sec-second-link .right-blk {
    float: none;
  }

  .sec-second-link .left-blk h3 {
    margin-bottom: 4.219vw;
  }

  .sec-second-link .left-blk p {
    margin-bottom: 1.868vw;
    font-size: 3.906vw;
    max-width: 99.218vw;
    line-height: 2;
  }

  .sec-second-link .left-blk a {
    position: relative;
    font-size: 2.657vw;
  }

  .sec-second-link .left-blk a::after {
    position: absolute;
    top: 50%;
    width: 2.032vw;
    height: 2.032vw;
  }

  .sec-second-link .right-blk img {
    display: block;
    width: 86.875vw;
    height: 53.388vw;
    margin: 0 auto;
    margin-top: 8.75vw;
    border-radius: 24.166px;
  }
}

/* Third Link */
.sec-third-link {
  padding: 87px;
  padding-bottom: 81px;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
}

.sec-third-link .cmn-title {
  margin-bottom: 9px;
}

.sec-third-link .third-inner {
  margin: 0 auto;
  padding-top: 5px;
  max-width: 825px;
}

.sec-third-link h4 {
  margin-bottom: 70px;
  color: #FF8364;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.sec-third-link ul li {
  position: relative;
  float: left;
  width: 48%;
  line-height: 1.24;
  margin-bottom: 49px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}


.sec-third-link ul li:nth-of-type(2n) {
  float: right;
  width: 45%;
  margin-right: -76px;
}

.sec-third-link ul li:last-child {
  margin-bottom: 0;
}

.sec-third-link ul li::before {
  position: absolute;
  top: 40%;
  left: -65px;
  width: 40px;
  height: 40px;
  background: url(../img/img_star.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  transform: translateY(-55%);
}

@media screen and (min-width: 768px) and (max-width: 1100px) {

  /* Third Link */
  .sec-third-link {
    padding: 10.9vw 0;
    padding-bottom: 4.297vw;
  }

  .sec-third-link .cmn-title {
    margin-bottom: 1.172vw;
    margin-left: -5.208vw;
  }

  .sec-third-link .third-inner {
    margin: 0 auto;
    padding-top: 0.651vw;
    max-width: 107.422vw;
  }

  .sec-third-link h4 {
    margin-bottom: 7.375vw;
    margin-left: 0.391vw;
    font-size: 3.516vw;
  }

  .sec-third-link ul li {
    position: relative;
    float: none;
    width: 100%;
    /* margin-top: 0; */
    padding: 0px 0;
    padding-left: 4.688vw;
    padding-bottom: 5.859vw;
    margin-bottom: 0;
    margin-left: 3.734vw;
    font-size: 2.604vw;
    /* text-align: left;*/
  }

  .sec-third-link ul li:nth-of-type(2n) {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .sec-third-link ul li:last-child {
    margin-bottom: 0;
  }

  .sec-third-link ul li::before {
    position: absolute;
    top: 1.953vw;
    left: -3.516vw;
    /* right: 0; */
    width: 5.208vw;
    height: 5.208vw;
  }
}

@media screen and (max-width: 767.9px) {

  /* Third Link */
  .sec-third-link {
    padding: 10.424vw 0;
    padding-bottom: 3.438vw;
  }

  .sec-third-link .cmn-title {
    margin-bottom: 2.969vw;
    margin-left: -3.594vw;
  }

  .sec-third-link .third-inner {
    margin: 0 auto;
    padding-top: 0.781vw;
    max-width: 128.906vw;
  }

  .sec-third-link h4 {
    margin-bottom: 8.85vw;
    margin-left: 0.469vw;
    font-size: 4.219vw;
  }

  .sec-third-link ul li {
    position: relative;
    float: none;
    width: 100%;
    padding: 0px 0;
    padding-bottom: 7.343vw;
    padding-left: 5.469vw;
    margin-bottom: 0;
    margin-left: 4.481vw;
    font-size: 2.813vw;
  }

  .sec-third-link ul li:nth-of-type(2n) {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .sec-third-link ul li:last-child {
    margin-bottom: 0;
  }

  .sec-third-link ul li::before {
    position: absolute;
    top: 2.188vw;
    left: -4.531vw;
    width: 6.25vw;
    height: 6.25vw;
  }
}

/* Fourth Link */

.sec-fourth-link {
  padding: 86px 0 50px;
}

.sec-fourth-link h3 {
  margin-bottom: 48px;
  text-align: center;
}

.sec-fourth-link ul li {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sec-fourth-link ul li:nth-child(4n) {
  margin-right: 0;
}

.sec-fourth-link ul li img {
  width: 255px;
  height: 235px;
}

.sec-fourth-link .img-content {
  padding: 35px 30px;
  background-color: #F3F3F3;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

.sec-fourth-link .img-content p {
  margin-bottom: 5px;
  color: #616161;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.sec-fourth-link .img-content h4 {
  color: #141414;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  /* Fourth Link */

  .sec-fourth-link {
    padding: 11.198vw 0 5.469vw;
  }

  .sec-fourth-link h3 {
    margin-bottom: 4.688vw;
    text-align: center;
  }

  .sec-fourth-link ul {
    margin: 0 auto;
    max-width: 71.615vw;
  }

  .sec-fourth-link ul li {
    float: left;
    margin-right: 5.208vw;
    margin-bottom: 4.948vw;
  }

  .sec-fourth-link ul li:nth-child(2n) {
    margin-right: 0;
  }

  .sec-fourth-link ul li:nth-child(4n) {
    margin-right: 0;
  }



  .sec-fourth-link ul li img {
    width: 33.203vw;
    height: 30.599vw;
  }

  .sec-fourth-link .img-content {
    padding: 4.557vw 3.906vw;
    text-align: center;
    border-radius: 0 0 1.042vw 1.042vw;
  }

  .sec-fourth-link .img-content p {
    margin-bottom: 0.651vw;
    font-size: 1.693vw;
  }

  .sec-fourth-link .img-content h4 {
    font-size: 2.083vw;
    font-weight: 700;
  }
}

@media screen and (max-width: 767.9px) {
  /* Fourth Link */

  .sec-fourth-link {
    padding: 10.313vw 0 3.593vw;
  }

  .sec-fourth-link h3 {
    margin-bottom: 5.625vw;
    text-align: center;
  }

  .sec-fourth-link ul {
    margin: 0 auto;
    max-width: 85.938vw;
  }

  .sec-fourth-link ul li {
    float: left;
    margin-right: 6.25vw;
    margin-bottom: 5.938vw;
  }

  .sec-fourth-link ul li:nth-child(2n) {
    margin-right: 0;
  }

  .sec-fourth-link ul li:nth-child(4n) {
    margin-right: 0;
  }



  .sec-fourth-link ul li img {
    width: 39.844vw;
    height: 36.719vw;
  }

  .sec-fourth-link .img-content {
    padding: 5.468vw 4.687vw;
    text-align: center;
    border-radius: 0 0 1.25vw 1.25vw;
  }

  .sec-fourth-link .img-content p {
    margin-bottom: 0.781vw;
    font-size: 2.032vw;
  }

  .sec-fourth-link .img-content h4 {
    font-size: 2.5vw;
    font-weight: 700;
  }
}

/* Fifth Link */
.sec-fifth-link {
  padding: 84px 0 50px;
  background-color: #FCFCFC;
  text-align: center;
}

.sec-fifth-link h3 {
  margin-bottom: 56px;
}

.sec-fifth-link ul li {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sec-fifth-link ul li img {
  width: 80px;
  height: 80px;
  margin-left: 6px;
}

.sec-fifth-link ul li:nth-child(3n) {
  margin-right: 0;
  margin-left: 0;
}

.sec-fifth-link ul li p {
  line-height: 1.66;
  margin-top: 20px;
  color: #616161;
  font-size: 18px;
  max-width: 350px;
}

.sec-fifth-link ul li h4::before {
  position: absolute;
  top: -18px;
  right: 0;
  left: 0;
  width: 65px;
  height: 4px;
  margin: 0 auto;
  background-image: url(../img/img_line.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
}

.sec-fifth-link ul li h4 {
  position: relative;
  margin-top: 65px;
  color: #141414;
  font-size: 20px;
  font-weight: 700;

}

.sec-fifth-link ul li h4 span {
  display: block;
  margin-top: 6px;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {

  /* Fifth Link */
  .sec-fifth-link {
    padding: 11.198vw 0 6.51vw;
    padding-bottom: 4.036vw;
  }

  .sec-fifth-link h3 {
    margin-bottom: 4.688vw;
  }

  .sec-fifth-link ul li {
    margin-right: 0;
    margin-bottom: 6.51vw;
    width: 42.188vw;
  }

  .sec-fifth-link ul li img {
    width: 10.417vw;
    height: 10.417vw;
    margin-left: 0.26vw;
  }

  .sec-fifth-link ul li:nth-child(even) {
    float: right;
    margin-right: 0;
  }

  .sec-fifth-link ul li:nth-child(odd) {
    float: left;
  }

  .sec-fifth-link ul li:nth-child(3n) {
    margin-right: 0;
    margin-left: 1.172vw;
  }

  .sec-fifth-link ul li p {
    line-height: 1.66;
    margin-top: 2.604vw;
    font-size: 2.344vw;
  }

  .sec-fifth-link ul li h4 {
    margin-top: 8.464vw;
    font-size: 2.604vw;
  }

  .sec-fifth-link ul li:nth-child(2) h4 {
    margin-top: 4.167vw;
  }

  .sec-fifth-link ul li h4 span {
    margin-top: 0.781vw;
    font-size: 2.083vw;
  }
}

@media screen and (max-width: 767.9px) {

  /* Fifth Link */
  .sec-fifth-link {
    padding: 10.156vw 0 7.812vw;
    padding-bottom: 9.4vw;
  }

  .sec-fifth-link h3 {
    margin-bottom: 5.626vw;
  }

  .sec-fifth-link ul li {

    float: none;
    margin: 0 auto;
    max-width: 69.688vw;
    margin-bottom: 9.687vw;
  }

  .sec-fifth-link ul li:nth-child(2n) {
    margin-bottom: 4.688vw;
  }

  .sec-fifth-link ul li:nth-child(3n) {
    margin: 0 auto;
  }

  .sec-fifth-link ul li img {
    width: 12.5vw;
    height: 12.5vw;
    margin-left: 0.312vw;
  }

  .sec-fifth-link ul li p {
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.66;
    margin-top: 3.125vw;
    font-size: 2.813vw;
  }

  .sec-fifth-link ul li h4 {
    margin-top: 8.594vw;
    font-size: 3.125vw;
  }

  .sec-fifth-link ul li:nth-child(2) h4 {
    margin-top: 8.594vw;
  }

  .sec-fifth-link ul li h4 span {
    margin-top: 0.937vw;
    font-size: 2.5vw;
  }
}

/* Feedback */
.feedback {
  padding: 103px 0;
  padding-bottom: 98px;
  border-bottom: 1px solid #D9D9D9;

}

.feedback .left-blk {
  position: relative;
  float: left;
  margin-right: 61px;
}


.feedback .left-blk iframe {
  position: relative;
  width: 605px;
  height: 490px;
  border: 0;
  border-radius: 8px;
}


.feedback .left-blk .address-blk {
  position: absolute;
  right: 30px;
  bottom: 33px;
  left: 30px;
  width: 545px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  border-radius: 8px;
}

.feedback .left-blk .address-blk .address {
  float: left;
  width: 47%;
  margin-top: 30px;
  margin-right: 31px;
}

.feedback .left-blk .address-blk .address h4 {
  margin-bottom: 3px;
  font-size: 12px;
  text-transform: uppercase;

}

.feedback .left-blk .address-blk .address p {
  line-height: 1.5;
  margin-bottom: 75px;
  color: #616161;
  font-size: 16px;
}

.feedback .left-blk .address-blk .number {
  float: left;
  margin-top: 32px;
}

.feedback .left-blk .address-blk .number h4 {
  margin-bottom: 7px;
  font-size: 12px;
  text-transform: uppercase;
}

.feedback .left-blk .address-blk .number .mail {
  display: block;
  margin-bottom: 28px;
  color: #FF8364;
  font-family: 'IBMPlexSans', sans-serif;
  font-size: 16px;
}

.feedback .left-blk .address-blk .number .ph-number {
  margin-bottom: 24px;
  color: #616161;
  font-size: 16px;
}


.feedback .right-blk {
  float: left;
  width: 40%;
}

.feedback .right-blk .cmn-title {
  margin-top: 14px;
  margin-bottom: 4px;
  font-size: 36px;
  font-weight: 500;
}

.feedback .right-blk p {
  line-height: 1.5;
  margin-bottom: 33px;
  color: #616161;
  font-size: 16px;
}

.feedback .right-blk form input {
  display: block;
  width: 314px;
  margin-bottom: 32px;
  padding: 9px 20px;
  border: 0;
  background-color: #F3F3F3;
  font-size: 16px;
  border-radius: 8px;
}

.feedback .right-blk form .cmn-btn {
  width: 140px;
  margin-top: -5px;
  padding: 12px 47px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {

  /* Feedback */
  .feedback {
    padding: 10.417vw 0;
    padding-bottom: 10.286vw;
  }

  .feedback .left-blk {
    margin-right: 0;
    width: 50%;
  }


  .feedback .left-blk iframe {
    width: 100%;
    height: 63.802vw;
    border-radius: 1.042vw;
  }


  .feedback .left-blk .address-blk {
    left: 0;
    right: 0;
    bottom: 2.995vw;
    margin: 0 auto;
    width: 39.583vw;
    padding: 2.474vw 5.339vw 2.344vw 2.604vw;
    border-radius: 1.042vw;
  }

  .feedback .left-blk .address-blk .address {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }

  .feedback .left-blk .address-blk .address h4 {
    margin-bottom: 0.391vw;
    font-size: 1.563vw;
  }

  .feedback .left-blk .address-blk .address p {
    line-height: 1.5;
    margin-bottom: 2.604vw;
    font-size: 2.083vw;
  }

  .feedback .left-blk .address-blk .number {
    margin-top: 0;
    width: 100%;
  }

  .feedback .left-blk .address-blk .number h4 {
    margin-bottom: 0.911vw;
    font-size: 1.563vw;
    margin-top: -0.13vw;
  }

  .feedback .left-blk .address-blk .number .mail {
    margin-bottom: 3.646vw;
    font-size: 2.083vw;
  }

  .feedback .left-blk .address-blk .number .ph-number {
    margin-bottom: 3.125vw;
    font-size: 2.083vw;
  }


  .feedback .right-blk {
    width: 50%;
    padding-top: 1.563vw;
    padding-left: 2.604vw;
  }

  .feedback .right-blk .cmn-title {
    margin-top: 1.823vw;
    margin-bottom: 0.781vw;
    font-size: 4.688vw;
  }

  .feedback .right-blk p {
    margin-bottom: 3.776vw;
    font-size: 2.083vw;
  }

  .feedback .right-blk form input {
    width: 40.885vw;
    margin-bottom: 4.167vw;
    padding: 1.172vw 2.604vw;
    font-size: 2.083vw;
    border-radius: 1.042vw;
  }

  .feedback .right-blk form .cmn-btn {
    width: 18.229vw;
    margin-top: -0.651vw;
    padding: 1.563vw 6.12vw;
  }
}

@media screen and (max-width: 767.9px) {

  /* Feedback */
  .feedback {
    padding: 9.688vw 0;
    padding-bottom: 12.5vw;
  }

  .feedback .left-blk {
    margin-right: 0;
    width: 100%;
  }


  .feedback .left-blk iframe {
    width: 100%;
    height: 53.594vw;
    border-radius: 1.25vw;
  }


  .feedback .left-blk .address-blk {
    left: 4.063vw;
    right: 4.531vw;
    bottom: 2.969vw;
    margin: 0 auto;
    width: 81.875vw;
    padding: 3.281vw 2.031vw 3.125vw 3.594vw;
    border-radius: 1.25vw;
  }

  .feedback .left-blk .address-blk .address {
    float: left;
    width: 50%;
    margin-top: 0;
    margin-right: 0;
  }

  .feedback .left-blk .address-blk .address h4 {
    margin-bottom: 0.469vw;
    font-size: 1.876vw;
  }

  .feedback .left-blk .address-blk .address p {
    line-height: 1.5;
    margin-bottom: 3.125vw;
    font-size: 2.5vw;
  }

  .feedback .left-blk .address-blk .number {
    float: left;
    margin-top: 2.031vw;
    width: 50%;
    padding-left: 3.281vw;
  }

  .feedback .left-blk .address-blk .number h4 {
    margin-bottom: 1.093vw;
    font-size: 1.876vw;
    margin-top: -0.156vw;
  }

  .feedback .left-blk .address-blk .number .mail {
    margin-bottom: 4.375vw;
    font-size: 2.5vw;
  }

  .feedback .left-blk .address-blk .number .ph-number {
    margin-bottom: 3.75vw;
    font-size: 2.5vw;
  }

  .feedback .right-blk {
    width: 100%;
    padding-top: 2.969vw;
    padding-left: 0;
  }

  .feedback .right-blk .cmn-title {
    margin-top: 2.188vw;
    margin-bottom: 0.625vw;
    font-size: 5.626vw;
  }

  .feedback .right-blk p {
    margin-bottom: 4.531vw;
    font-size: 2.5vw;
  }

  .feedback .right-blk form input {
    width: 49.062vw;
    margin-bottom: 5vw;
    padding: 1.406vw 3.125vw;
    font-size: 2.5vw;
    border-radius: 1.25vw;
  }

  .feedback .right-blk form .cmn-btn {
    width: 21.875vw;
    margin-top: -0.781vw;
    padding: 1.876vw 7.344vw;
  }
}

/* Footer */
footer .left-blk {
  float: left;
  width: 22%;
  margin-right: 136px;
  padding-top: 70px;
  padding-bottom: 84px;
}

footer .left-blk img {
  margin-bottom: 31px;
  width: 208px;
}

footer .left-blk p {
  line-height: 1.35;
  font-size: 12px;
  font-weight: 400;

}

footer .right-blk {
  float: left;
  width: 64%;
  padding-top: 79px;
  padding-bottom: 81px;
}

footer .right-blk>ul>li {
  float: left;
  width: 21%;
  margin-right: 41px;
}

footer .right-blk>ul>li:last-of-type {
  margin-right: -10px;
}

footer .right-blk>ul>li h6 {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
}

footer .right-blk>ul>li ul a {
  line-height: 2.1;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}

footer .right-blk>ul>li ul a:hover {
  opacity: .7;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  /* Footer */

  footer .left-blk {
    float: left;
    width: 50%;
    margin-right: 0;
    padding-top: 8.984vw;
    padding-bottom: 10.938vw;
    padding-right: 14.844vw;
  }

  footer .left-blk img {
    margin-bottom: 4.036vw;
    width: 27.083vw;

  }

  footer .left-blk p {
    line-height: 1.35;
    font-size: 1.563vw;
  }

  footer .right-blk {
    width: 50%;
    padding-top: 10.156vw;
    padding-bottom: 10.547vw;
  }

  footer .right-blk>ul>li {
    float: left;
    width: 50%;
    margin-right: 0;
    margin-bottom: 4.167vw;
  }

  footer .right-blk>ul>li:nth-child(even) {
    padding-left: 2.344vw;
  }

  footer .right-blk>ul>li:last-of-type {
    margin-right: -1.302vw;
  }

  footer .right-blk>ul>li h6 {
    margin-bottom: 0.521vw;
    font-size: 2.604vw;
  }

  footer .right-blk>ul>li ul a {
    line-height: 2.1;
    font-size: 2.083vw;
  }

}

@media screen and (max-width: 767.9px) {
  /* Footer */

  footer .left-blk {
    float: left;
    width: 47%;
    margin-right: 0;
    padding-top: 4.531vw;
    padding-bottom: 13.126vw;
    padding-right: 4.532vw;
  }

  footer .left-blk img {
    width: 32.5vw;
    margin-bottom: 4.687vw;

  }

  footer .left-blk p {
    line-height: 1.43;
    font-size: 1.876vw;
    max-width: 100%;
  }

  footer .right-blk {
    width: 51%;
    padding-top: 6.093vw;
    padding-left: 0.625vw;
    padding-bottom: 12.656vw;
  }

  footer .right-blk>ul>li {
    float: left;
    width: 50%;
    margin-right: 0;
    margin-bottom: 5vw;
  }

  footer .right-blk>ul>li:nth-child(even) {
    padding-left: 2.813vw;
  }

  footer .right-blk>ul>li:last-of-type {
    margin-right: -1.562vw;
  }

  footer .right-blk>ul>li h6 {
    margin-bottom: 0.625vw;
    font-size: 3.125vw;
  }

  footer .right-blk>ul>li ul a {
    line-height: 2.1;
    font-size: 2.5vw;
  }

}